<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <div><%= message.user %></div>
        <div><%= message.text %></div>
        <div><%= message.added.toLocaleDateString() %> <%= message.added.toLocaleTimeString([], { hour: '2-digit', minute: '2-digit' }) %></div>
    </div>
</body>
</html>